name: Terraform Destroy

on:
  workflow_dispatch   # manual trigger

jobs:
  destroy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Terraform Init
        run: terraform init

      - name: Terraform Destroy
        run: terraform destroy -auto-approve